{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Iniciar Sesión</h1>
            <form action="" method="POST">
                {{error}}
                <br>
                {% csrf_token %}
                <label for="username">Usuario:</label>
                <div>
                    <input class="w-100 form-control" type="text" name="username" id="username">
                </div>
                <label for="password">Contraseña:</label>
                <div class="mb-2">
                    <input class="w-100 form-control" type="password" name="password" id="password">
                </div>
                <button class="btn btn-dark">Iniciar sesión</button>
            </form>
            <br>
            <a class="text-decoration-none btn btn-secondary" href="/signup/">Click aquí para registrarse</a>
        </div>
    </div>
</main>


{% endblock content %}